.newsPage{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    height: 100vh;
}


.newsPage1{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    // margin: 0;
}
.titl{
    color: white;
}

.spin{
    margin-left: 200px;
}